{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<title>Dependency Parse Tree visualization using d3.js</title>
</head>
<body>

<link rel="stylesheet" href="{% static 'demo/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'demo/css/main.css' %}">
<link rel="stylesheet" href="{% static 'demo/tree.css' %}">
<script type="text/javascript" src="{% static 'demo/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'demo/dependency-tree.js' %}"></script>
<script type="text/javascript" src="{% static 'demo/displacy.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'demo/jquery-3.3.1.min.js' %}"></script> -->

<div class="container">

<h2>TAG Parsing</h2>
<input id="raw" type="text" />
<button id="go" class="btn btn-default">Parse</button>

<!-- https://github.com/explosion/displacy -->
<div id="displacy"></div>

</div>
<script type="text/javascript">

const URL = "api/parse";

const displacy = new displaCy(null, {
	container: '#displacy',
	format: 'spacy',
	distance: 300,
	offsetX: 100
});

const exampleParse = `{
    "arcs": [
        { "dir": 'right', "end": 1, "label": 'npadvmod', "start": 0 }
    ],
    "words": [
        { "tag": 'UH', "text": 'Hello' },
        { "tag": 'NNP', "text": 'World.' }
    ]
}`;

// displacy.render(parse, {
//     color: '#ff0000'
// });

d3.select('#go').on('click', function() {
	d3.json(URL, function(error, data) {
		data["conllu"].forEach(function(parse, i) {
			displacy.render(JSON.parse(exampleParse), {
				color: "#ff0000"
			});
			// d3.select("#parses").append("svg")
			// 	.attr("id", "tree" + i);
			// 	// .attr("width", 50)
			// 	// .attr("height", 50)
			// drawTree("svg#tree" + i, parse, false);
		})
	})
		.header("Content-Type","application/json")
		.send(
			"POST",
			JSON.stringify({text: d3.select("#raw").property("value")})
		);
});

</script>
</body>
</html>
