{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<title>TAG Visualization</title>
</head>
<body>

<link rel="stylesheet" href="{% static 'demo/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'demo/css/main.css' %}">
<link rel="stylesheet" href="{% static 'demo/tree.css' %}">
<script type="text/javascript" src="{% static 'demo/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'demo/dependency-tree.js' %}"></script>
<script type="text/javascript" src="{% static 'demo/displacy.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'demo/jquery-3.3.1.min.js' %}"></script> -->

<div class="container">
<h2>What is a Tree Adjoining Grammar(TAG)?</h2>
<p>A <b>tree adjoining grammar</b>, or <b>TAG</b>, is a tree-generating system that illustrates the linguistic dependencies among its terminal node words. Whereas a <b>context-free grammar (CFG)</b> generates strings and may only depict relationships between words that are close to each other in the tree, TAG provides a much greater degree of locality for nodes potentially far apart in the tree. The resulting TAG string is defined as the yield, or preorder traversal, of all the trees derived from the system.</p>
<br>
<p>The nodes of a TAG are <b>elementary trees</b> that can be combined with <b>substitution</b> or <b>adjunction</b> operations into <b>derived trees</b>. An elementary tree can take the form of an <b>initial tree</b> or an <b>auxiliary tree</b>. An initial tree has all interior nodes consisting of non-terminal symbols, with the leaves either as terminal symbols (words from the sentence) or as marked non-terminal symbols. Auxiliary trees are similar to initial trees, but with the additional condition that exactly one leaf node must be marked as a <b>foot node</b>; the foot node must be a non-terminal symbol that matches the symbol on a root node of another tree.</p>
<h4>Links for Further Reading:</h4>
<ul>
	<li><a href="http://www.aclweb.org/anthology/D17-1180">TAG Parsing with Neural Networks and Vector Representations of Supertags</a></li>
	<li><a href="http://aclweb.org/anthology/N18-1107">End-to-end Graph-based TAG Parsing with Neural Networks</a></li>
	<li><a href="http://www.cs.cornell.edu/~tianze/papers/emnlp18.pdf">Valency-Augmented Dependency Parsing</a></li>
	<li><a href="http://www.aclweb.org/anthology/D08-1050">Adapting a Lexicalized-Grammar Parser to Contrasting Domains</a></li>
	<li><a href="http://aclweb.org/anthology/Q14-1026">Improved CCG Parsing with Semi-supervised Supertagging</a></li>
</ul>

<p><a href="https://github.com/viking-sudo-rm/TAGParserDemo">GitHub</a> Source Code</p>

<h2>Tree Adjoining Grammar Visualization</h2>
<p>Type a sentence below and click Parse to get a dependency-like representation of its TAG parse.</p>

<input id="raw" type="text" />
<button id="go" class="btn btn-default">Parse</button>

<div id="displacy"></div>

</div>
<script type="text/javascript">

const URL = "api/parse";

/**********************
DisplaCy Documentation:
https://github.com/explosion/spacy-dev-resources/tree/master/jupyter-displacy#configuration
https://github.com/explosion/spaCy/issues/1058
https://github.com/explosion/displacy/blob/master/assets/js/displacy.js
**********************/
const displacy = new displaCy(null, {
	container: '#displacy',
	format: 'spacy',
	distance: 100,
	offsetX: 20
});

// TODO integrate this with displaCy API interface
d3.select('#go').on('click', function() {
	d3.json(URL, function(error, data) {
		// data["parse"].forEach(function(raw, i) {
		console.log(data);
		displacy.render(data["parse"], {
			color: "#000000"
		});
	})
		.header("Content-Type","application/json")
		.send(
			"POST",
			JSON.stringify({text: d3.select("#raw").property("value")})
		);
});

</script>
</body>
</html>
